@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 style="color: darkred; font-family: cursive;  background-color:yellowgreen;">
        <marquee behavior="slide" scrollamount="15">Discover Our Luxurious Comfy Towels Collection Today!</marquee>
    </h1>

    <img src="/images/co.jpg" a/>


    
</div>

